@import "bootstrap";

* {
  color: rgba(0,0,0,0.75);
  font-family: 'Raleway', sans-serif;
}

.scroll-down-here {
  color: rgba(255, 255, 255, 0.75);
}
.scroll-down-here span {
  color: rgba(255, 255, 255, 0.75);
}

.ultimate-bg {
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffffff 0%, #fba6c2 50%, #B5FFFC 100%);

  /*from grabient*/
}

// NAVIGATION
@media (max-width: 767px) {
   .content-to-hide {
      display: none;
   }
} /* disappear when screen becomes too small */

.Quick-navigation {
	position: fixed;
	z-index: 1;
	margin: 0;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.Quick-navigation-item {
	color: rgba(0,0,0,0.4);
	text-decoration: none;
	font-size: 1.3em;
	transition: color 0.3s;
	padding: 0.5em;
	display: block;
  text-align: right;
}

.Quick-navigation-item:hover, .Quick-navigation-item.current {
	color: #fff;
}

.Scroll-progress-indicator {
	will-change: opacity, transform;
	transition: all 0.5s;
	left: -10px;
	border-radius: 2px;
	position: absolute;
	top: 50%;
	opacity: 0;
	padding: 2em;
	transform: translateX(200%) translateY(-50%);
	background-color: rgba(0,0,0,0.1);
}

.Scroll-progress-indicator.visible {
	transform: translateX(-100%) translateY(-50%);
	opacity: 1;
}

.Scroll-to-top {
	position: fixed;
	right: 20px;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
	border: none;
	color: rgba(255,255,255,0.5);
	font-size: 1.5rem;
	padding: 0.5em;
	cursor: pointer;
	opacity: 0;
	transform: translateY(100%);
	transition: all 0.3s;
	outline: none;
}

.Scroll-to-top.visible {
	opacity: 1;
	transform: translateY(0);
}

.Scroll-to-top:hover {
	color: rgba(255,255,255,0.9);
}
// END NAVIGATION

/*LANDING COVER*/
* {
  box-sizing: border-box;
}
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

.logo-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: auto;
}

.scroll-down-here {
  text-align: center;
  padding-top: 10%
}

/*END LANDING COVER*/
