/*SKILLS SECTION*/
.skills-div {
  height: 100%;
  min-width: 100%;
  background-size: cover;
}
@media (min-width: 768px) {
  .skills-div {
    min-height: 800px;
  }
}
.skills-heading {
  text-align: center;
  padding-top: 25%;
  padding-bottom: 5%;
}

.font-mfizz {
  font-size: 5em;
}
.skills-list {
  text-align: center;
}
.fa {
  padding-bottom: 30px;
}
/*END SKILLS SECTION*/
